@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color-primary: #222831;
  --bg-color-secondary: #393e46;
  --bg-color-warning: #eb5757;
  --color-main: #00adb5;
  --text-white: #eeeeee;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--bg-color-primary);
  }
}

@layer components {
  .btn-primary {
    @apply flex justify-center py-2 px-4 border-0 text-sm font-bold rounded-full transition-all text-primary_background-darkgray01 bg-primary-blue hover:bg-primary_background-darkgray01 hover:text-primary-blue hover:ring-2 hover:ring-primary-blue;
  }
  .btn-outline {
    @apply flex justify-center py-2 px-4 border-0 text-sm font-bold rounded-full transition-all bg-primary_background-darkgray01 text-primary-blue ring-2 ring-primary-blue hover:text-primary_background-darkgray01 hover:bg-primary-blue;
  }

  .btn-warning {
    @apply flex justify-center py-2 px-4 border-0 text-sm font-bold rounded-full transition-all text-primary_background-darkgray01 bg-primary-warning hover:bg-primary_background-darkgray01 hover:text-primary-warning hover:ring-2 hover:ring-primary-warning;
  }
}

.container-big {
  max-width: 73rem; /* 1168px */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-medium {
  max-width: 60.5rem; /* 968px */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.container-small {
  max-width: 35.5rem; /* 568px */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

* {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding-left: 1.15rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

.content-list {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393e46;
  margin-top: -10px;
}

.content-list__head {
  text-align: center;
}

.content-list__head-title {
  color: #eeeeee;
  font-size: 32px;
  font-weight: bold;
  margin: 50px 0 20px;
}

.content-list__head-subtitle {
  color: #eeeeee;
  font-size: 20px;
  margin-bottom: 45px;
}

.content-list__search-bar {
  color: #616161;
  background-color: #222831;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 996px;
  height: 60px;
  border: 1px solid #393e46;
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 80px;
}

.content-list__item {
  display: flex;
  width: 1200px;
  height: 250px;
  margin-bottom: 30px;
}

.content-list__item-img {
  width: 2000px;
  background-color: #616161;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.content-list__item-text {
  padding: 20px;
  background-color: #222831;
  color: #eeeeee;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.content-list__item-text-head {
  display: flex;
}

.content-list__item-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  font-size: 28px;
  color: #eeeeee;
}

.content-list__item-duration {
  color: #00adb5;
  font-size: 16px;
  font-weight: lighter;
  display: flex;
  align-items: center;
}

.content-list__item-overview {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.admin-content-list__item-overview {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Detail Content */

.detail-content {
  background-color: #222831;
  color: #eeeeee;
  font-family: 'Poppins', sans-serif;
  padding-left: 90px;
}

.detail-content__head {
  padding-top: 70px;
}

.detail-content__head-author {
  font-weight: bold;
}

.detail-content__head-wrap {
  display: flex;
  font-size: 11px;
  font-weight: lighter;
  width: 160px;
  justify-content: space-between;
}

.detail-content__body {
  padding-top: 40px;
}
